* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    background-color: #EDEDED;
    margin: 0;
}

::-webkit-input-placeholder {
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

a, ul, ol, li {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* ################################################################ */

.headerElements {
    display: flex;
    flex-direction: column;
}

.bgImg {
    width: 100%;
    height: 100%;
    position: relative;
}

.logo {
    display: flex;
    z-index: 1000;
    position: absolute;
    top: 3em;
    left: 3em;
    display: flex;
    width: 207px;
    height: 25.261px;
    justify-content: center;
    align-items: flex-end;
    flex-shrink: 0;
}

.search {
    display: flex;
}

.sloganHeading {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -2em;
    color: var(--yellow, #FFD15B);
    text-align: center;
    font-size: 2.2em;
    font-family: Anton;
}

.searchBar {
    width: 60em;
    height: 3.5em;
    flex-shrink: 0;
    border-radius: 1em;
    background: #FFF;
    z-index: 1000;
    position: absolute;
    top: calc(50% + 3.5em);
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchContent {
    color: var(--grey, #7A7A7A);
    font-size: 1em;
    font-family: Manrope;
    position: absolute;
    align-items: center;
    top: 1em;
    left: 1em;
}

.iconLoop {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    width: 2.8em;
    height: 2.8em;
    background-color: black;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.38em;
}
  
.iconMagnifyingGlass {
    color: white; 
    font-size: 1.8em; 
}

/* ################################################################ */

@media screen and (max-width: 1300px) {
    .sloganHeading {
        font-size: 2em;
        margin-top: -1.8em;
    }

    .searchBar {
        width: 50em;
        height: 3.5em;
    }
    
    .searchContent {
        font-size: 0.8em;
        top: 1.35em;
        left: 1em;
    }
    
    .iconLoop {
        border-radius: 0.4em;
        width: 2.6em;
        height: 2.6em;
        right: 0.45em;
    }

    .iconMagnifyingGlass {
        color: white; 
        font-size: 1.6em; 
    }

}

@media screen and (max-width: 1175px) {
    .sloganHeading {
        font-size: 1.5em;
        margin-top: -1.5em;
    }

    .searchBar {
        width: 38em;
        height: 3em;
    }
    
    .searchContent {
        font-size: 0.8em;
        top: 1.15em;
        left: 1em;
    }
    
    .iconLoop {
        border-radius: 0.3em;
        width: 2.2em;
        height: 2.2em;
        right: 0.4em;
    }

    .iconMagnifyingGlass {
        color: white; 
        font-size: 1.4em; 
    }

}
  
@media screen and (max-width: 728px) {
    .sloganHeading {
        font-size: 1.2em;
        margin-top: -2.5em;
    }

    .searchBar {
        width: 30em;
        height: 2.5em;
        border-radius: 0.5em;
        margin-top: -2em;
    }

    .searchContent {
        font-size: 0.6em;
        top: 1.4em;
        left: 1em;
    }
    
    .iconLoop {
        border-radius: 0.3em;
        width: 2em;
        height: 2em;
        right: 0.26em;
    }

    .iconMagnifyingGlass {
        color: white; 
        font-size: 1.2em; 
    }
} 

@media screen and (max-width: 680px) {
    .sloganHeading {
        font-size: 1em;
        margin-top: -5em;
    }

    .searchBar {
        width: 25em;
        height: 1.7em;
        border-radius: 0.3em;
        margin-top: -5em;
    }

    .searchContent {
        font-size: 0.6em;
        top: 0.8em;
        left: 1em;
    }
    
    .iconLoop {
        border-radius: 0.2em;
        width: 1.3em;
        height: 1.3em;
        right: 0.19em;
    }

    .iconMagnifyingGlass {
        color: white; 
        font-size: 0.8em; 
    }
} 

/* ################################################################ */

.recipeCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -1em 1em 1em -3em; 
}

.recipe-card {
    width: calc(33.33% - 5em);
    margin: 4em 0 0 4em;
    height: 35em;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 2em;
    background: #FFF;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
    position: relative; 
}

.recipe-card-image {
    width: 100%;
    height: calc(35em / 3); 
    object-fit: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.recipe-card-image a {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: block;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.recipe-card-content {
    padding: 2.2em;
    display: flex;
    flex-direction: column;
    gap: 0.5em
}

.recipe-description {
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}