/* Global settings ======================================================== */
/* removing all default (spacing, *, pseudo classes :before, :after, margin, padding, box-sizing,...)  */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* responsive */
img {
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1340px;
  /* margin: 0 2em 2em 2em; */
  /* margin: 0 5em 0 5em; */
  margin: 0 auto;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --yellow: #ffd15b;
  --gray: #7a7a7a;
  --light-gray: #e5e5e5;
  --smooth: all 0.3s ease-in;
  --shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
  --font-Anton: "Anton";
  --font-Manrope: "Manrope";
}

header {
  position: relative;
}

body {
  height: 100vh;
  background-color: #ededed;
  margin: 0;
}

::-webkit-input-placeholder {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

a,
ul,
ol,
li {
  text-decoration: none;
}

ol,
ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

/* ################################################################ */
/* Header settings ======================================================== */
.logo {
  position: absolute;
  display: flex;
  z-index: 1000;
  top: 3%;
  left: 3%;
  width: 12.8em;
  max-width: 100%;
  height: auto;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
}

.sloganHeading {
  text-align: center;
  color: var(--yellow);
  font-size: 2.5em;
  max-width: 70%;
  font-family: var(--font-Anton);
  margin-bottom: 2em;
  line-height: 1.5em;
}

.searchTool {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  position: relative;
}

.searchBar {
  width: 900px;
  height: 68px;
  border-radius: 1em;
  background: var(--white);
  padding-left: 1em;
  padding-right: 4em;
  font-size: 1em;
  position: absolute;
  margin-top: 1em;
  display: flex;
  align-items: center;
}

.searchBar::placeholder {
  color: var(--gray);
  font-family: var(--font-Manrope);
  font-size: 0.9em;
  font-weight: 200;
}

/* Styles for elements inside .searchTool */
.searchContent,
.iconLoop,
.iconMagnifyingGlass,
.iconClear {
  position: absolute;
}

.searchContent {
  color: var(--grey);
  font-size: 1em;
  font-family: var(--font-Manrope);
  left: 1em;
}

.iconLoop {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  width: 51px;
  height: 52px;
}

.iconMagnifyingGlass {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 1.6em;
  width: 51px;
  height: 52px;
  border-radius: 10px;
  background-color: var(--black);
}

.searchTool .iconMagnifyingGlass,
.searchTool .iconClear {
  display: flex;
  justify-content: center;
  align-items: center;
  right: -16.2em;
  top: 0.3em;
}

.searchTool .iconClear {
  display: none;
  z-index: 60000;
  font-size: large;
  top: -0.25em;
  right: -20em;
}

.iconMagnifyingGlass .iconLoop {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ################################################################ */
/* card settings ======================================================== */
.no-results-message {
  font-family: var(--font-Anton);
  font-size: 1.5em;
  color: var(--yellow);
  margin-left: 1em;
}

#recipeCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2em;
}

.recipe-card {
  width: calc(33.33% - 1.5em);
  height: 38.5em;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 21px;
  background: var(--white);
  box-shadow: 0em 0.3em 1em 1em rgba(0, 0, 0, 0.04);
  position: relative;
  margin-bottom: 1.6em;
}

.recipe-card-image {
  width: 100%;
  height: calc(38.5em / 3);
  object-fit: cover;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.recipe-card-image a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 21px;
}

.recipe-card-content {
  padding: 29px 25px 0 25px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.recipe-description {
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  max-height: 4.4em;
}

.recipe-card h2 {
  font-size: 1.2em;
  font-family: var(--font-Anton);
  color: var(--black);
}

.recipe-card h3 {
  font-size: 0.8em;
  font-family: var(--font-Manrope);
  color: var(--gray);
  font-weight: bold;
}

p.recipe-description {
  font-size: 1em;
  font-family: var(--font-Manrope);
  color: var(--gray);
  font-weight: regular;
}

.ingredients-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 0.82em;
  font-family: var(--font-Manrope);
  font-weight: medium;
}

.ingredients-list li {
  width: 50%;
  white-space: pre-line;
  margin-bottom: 0.8em;
  color: var(--gray);
}

.ingredient-name {
  font-family: var(--font-Manrope);
  font-weight: 500;
  color: var(--black);
}

.recipe-card-content p.recipe-time {
  position: absolute;
  top: 1em;
  right: 1em;
  display: inline-flex;
  padding: 0.3em 1.2em;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 1em;
  background: var(--yellow);
}

/* ################################################################ */
/* advanced search settings ======================================================== */
.advancedSearchContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em 0 0 0;
}

.searchField {
  flex: 0 0 calc(100% / 3 - 1em);
  max-width: calc(100% / 3 - 1em);
  margin-bottom: 1em;
  margin-right: 1em;
  position: relative;
}

.dropdownHeader {
  z-index: 2000;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 2em 1em 1em;
  border-radius: 0.5em;
  background: var(--white);
  font-size: 1em;
  cursor: pointer;
  margin-right: 1em;
}

.row {
  --bs-gutter-x: 0.1rem;
}

.rowAdvancedSearch {
  margin-left: 0.01em;
}

.dropdownHeader.open .fa-angle-down {
  transform: rotate(180deg);
  top: 1.3em;
}

.dropdownHeader .dropdownHeaderInput,
.dropdownHeader .dropdownContent {
  display: none;
}

.dropdownHeader.open .dropdownHeaderInput,
.dropdownHeader.open .dropdownContent {
  display: inline-block;
}

.dropdownHeader i.fa-angle-down {
  padding-top: 0.3em;
  position: absolute;
  right: 1em;
}

.dropdownHeaderInput {
  position: relative;
  margin-top: 0.5em;
  width: 100%;
}

.dropdownHeaderInput .iconMagnifyingGlass {
  color: var(--light-gray);
  font-size: 0.9em;
  background-color: transparent;
  right: -1.7em;
  top: 0.8em;
}

/* Hide dropdown contents by default */
.dropdownHeader .dropdownContent {
  max-height: 8em;
  width: 100%;
  overflow-y: auto;
}

/* Define styles for the active state */
.dropdownHeader.active .dropdownContent {
  max-height: 8em;
  overflow-y: auto;
}

.dropdownHeaderInput .searchInput {
  width: 100%;
  right: 0.01em;
  left: 0.03em;
}

/* Style the close button */
.dropdownHeaderInput .closeButton {
  position: absolute;
  top: -0.000009005em;
  right: 2.5em;
  color: var(--light-gray);
  cursor: pointer;
  margin-left: 5px;
  display: none;
  align-items: center;
  height: 100%;
}

/* Show the close button when the input field is not empty */
.dropdownHeaderInput input:not(:empty) + .closeButton {
  display: block;
}

.closeButton:hover {
  color: #555;
}

.iconLoopDropdown {
  position: absolute;
  right: 0.05em;
  top: -0.3em;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  width: 1.5em;
  height: 1.5em;
  color: var(--gray);
}

.listedRecipesCount {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

#resultCount {
  font-family: var(--font-Anton);
  color: var(--black);
  font-size: 1.2em;
  margin-right: 0.55em;
}

/* Styling for the filtered tags */
.dropdownContent li {
  flex: 1 0 100%;
  padding: 0.3em 0em;
  cursor: pointer;
  background: var(--white);
  margin-top: 0.3em;
  transition: background-color 0.3s, font-weight 0.3s;
  font-weight: lighter;
  width: 100%;
}

.dropdownContent li:last-child {
  border-bottom: none;
}

.dropdownContent li.selected {
  background-color: var(--yellow);
}

.dropdownContent li.selected .closeButton {
  color: var(--black);
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
}

.dropdownHeaderInput input {
  margin-right: 5px;
}

#tagsContainer {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
}

.selectedTag .closeButton {
  margin-left: 3.5em;
  cursor: pointer;
  color: var(--black);
  font-size: large;
}

.selectedTag.selected {
  background-color: var(--yellow);
  color: var(--black);
  border-radius: 0.8em;
  padding: 0.85em;
  margin: 0em 0.3em 2.8em 0;
  display: inline-block;
  align-items: center;
  font-size: 1em;
  font-weight:200;
  cursor: pointer;
}

.selectedTag.selected:hover {
  background-color: var(--yellow);
}
/* ################################################################ */
/* Responsive ======================================================== */
@media screen and (max-width: 960px) {
  .logo {
    width: 11em;
  }
  .sloganHeading {
    font-size: 2.3em;
    margin-bottom: 1.4em;
  }
  .searchBar {
    width: 690px;
    height: 58px;
    font-size: 0.9em;
  }

  /* .searchBar::placeholder {
    font-size: 0.9em;
    font-weight: 200;
  } */

  .iconLoop {
    right: 0.26em;
    width: 1.2em;
    height: 1.2em;
  }

  .iconMagnifyingGlass {
    font-size: 1.3em;
  }

  .recipe-card h2 {
    font-size: 1em;
  }

  .recipe-card h3 {
    font-size: 0.85em;
  }

  p.recipe-description {
    font-size: 0.9em;
  }

  ul li {
    font-size: 0.86em;
  }

  .dropdownHeader {
    font-size: 0.9em;
  }

  .dropdownHeader i.fa-angle-down {
    margin-left: 0.1em;
  }

  .recipe-card-content p.recipe-time {
    padding: 0.3em 1.2em;
    border-radius: 1em;
    font-size: 0.9em;
  }

  .recipe-card {
    height: 42em;
  }

  .recipe-card-image {
    height: calc(42em / 3);
  }

  .searchTool .iconMagnifyingGlass,
  .searchTool .iconClear {
    right: -16.6em;
    top: -0.43em;
  }

  .searchTool .iconClear {
    top: -0.39em;
    right: -16.65em;
    font-size: medium;
  }

  .dropdownHeaderInput .iconMagnifyingGlass {
    right: -2.2em;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 10em;
  }

  .sloganHeading {
    font-size: 2.1em;
    max-width: 80%;
    margin-bottom: 1.2em;
  }

  .searchBar {
    width: 42em;
    height: 52px;
  }

  .dropdownHeader {
    font-size: 0.9em;
  }

  .iconLoop {
    right: 0.2em;
    margin-top: -8em;
    width: 32px;
    height: 32px;
  }

  .iconMagnifyingGlass {
    width: 32px;
    height: 32px;
    border-radius: 0.3em;
  }

  .searchTool .iconMagnifyingGlass,
  .searchTool .iconClear {
    right: -14.25em;
    top: 3.4em;
  }

  .searchTool .iconClear {
    top: -0.28em;
    right: -18.5em;
    font-size: small;
  }

  .dropdownHeaderInput .iconMagnifyingGlass {
    right: -1em;
  }
}

@media screen and (max-width: 680px) {
  .logo {
    width: 9em;
  }

  .sloganHeading {
    font-size: 1.5em;
    max-width: 80%;
  }

  .searchBar {
    width: 32em;
    height: 52px;
  }

  .dropdownHeader {
    font-size: 0.85em;
  }
  .recipe-card h2 {
    font-size: 0.85em;
  }

  .recipe-card h3 {
    font-size: 0.65em;
  }

  p.recipe-description {
    font-size: 0.8em;
  }

  ul li {
    font-size: 0.65em;
  }

  .recipe-card-content p.recipe-time {
    padding: 0.3em 0.6em;
    border-radius: 0.7em;
    font-size: 0.8em;
  }

  .dropdownHeaderInput .iconMagnifyingGlass {
    right: -1.7em;
  }

  .iconMagnifyingGlass {
    width: 42px;
    height: 42px;
    border-radius: 0.3em;
  }

  .searchTool .iconMagnifyingGlass,
  .searchTool .iconClear {
    right: -10.99em;
    top: 3.165em;
  }

  .searchTool .iconClear {
    top: -0.28em;
    right: -12.9em;
    font-size: small;
  }
}
