/* Global settings ======================================================== */
/* removing all default spacing, *, pseudo classes :before, :after, margin, padding, box-sizing,  */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* responsive */
img {
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1440px;
  margin: 0 2em 2em 2em;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --yellow: #ffd15b;
  --gray: #7a7a7a;
  --light-gray: #e5e5e5;
  --smooth: all 0.3s ease-in;
  --shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
  --font-Anton: "Anton";
  --font-Manrope: "Manrope";
}

body {
  height: 100vh;
  background-color: #ededed;
  margin: 0;
}

::-webkit-input-placeholder {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

a,
ul,
ol,
li {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* ################################################################ */
/* Header settings ======================================================== */
.logo {
  position: absolute;
  display: flex;
  z-index: 1000;
  top: 3em;
  left: 3em;
  width: 207px;
  height: 25.261px;
  justify-content: center;
  align-items: flex-end;
  flex-shrink: 0;
}

.search {
  display: flex;
}

.sloganHeading {
  z-index: 1000;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -2em;
  color: var(--yellow);
  text-align: center;
  font-size: 2.2em;
  font-family: var(--font-Anton);
}

.searchTool {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  width: 60em;
  height: 3.5em;
  border-radius: 1em;
  background: var(--white);
  padding-left: 1em;
  padding-right: 4em;
  font-size: 1em;
}

.searchBar::placeholder {
  color: var(--gray);
  font-family: var(--font-Manrope);
  font-size: 0.9em;
  font-weight: 200;
}

.searchContent {
  position: absolute;
  color: var(--grey);
  font-size: 1em;
  font-family: var(--font-Manrope);
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
}

.iconClear {
  position: absolute;
  right: 3.5em;
  display: none;
  font-size: large;
}

.iconLoop {
  position: absolute;
  top: 50%;
  right: 0.35em;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  width: 2.8em;
  height: 2.8em;
  background-color: var(--black);
  margin-top: 0.05em;
}

.iconMagnifyingGlass {
  position: absolute;
  color: var(--white);
  font-size: 1.8em;
}

/* ################################################################ */
/* card settings ======================================================== */
.no-results-message {
  font-family: var(--font-Anton);
  font-size: 1.5em;
  color: var(--yellow);
  margin-left: 1em;
}

#recipeCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.recipe-card {
  width: calc(33.33% - 20px);
  margin: 10px;
  height: 38.5em;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 2em;
  background: var(--white);
  box-shadow: 0em 0.3em 1em 1em rgba(0, 0, 0, 0.04);
  position: relative;
}

.recipe-card-image {
  width: 100%;
  height: calc(38.5em / 3);
  object-fit: cover;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.recipe-card-image a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.recipe-card-content {
  padding: 1em 2.2em 1em 2.2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.recipe-description {
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  max-height: 4.4em;
}

.recipe-card h2 {
  font-size: 1.2em;
  font-family: var(--font-Anton);
  color: var(--black);
}

.recipe-card h3 {
  font-size: 0.8em;
  font-family: var(--font-Manrope);
  color: var(--gray);
  font-weight: bold;
}

p.recipe-description {
  font-size: 1em;
  font-family: var(--font-Manrope);
  color: var(--gray);
  font-weight: regular;
}

.ingredients-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 0.82em;
  font-family: var(--font-Manrope);
  font-weight: medium;
}

.ingredients-list li {
  width: 50%;
  white-space: pre-line;
  margin-bottom: 0.8em;
  margin-left: -1em;
  color: var(--gray);
}

.ingredient-name {
  font-family: var(--font-Manrope);
  font-weight: 500;
  color: var(--black);
}

.recipe-card-content p.recipe-time {
  position: absolute;
  top: 1em;
  right: 1em;
  display: inline-flex;
  padding: 0.5em 1em;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 1em;
  background: var(--yellow);
}

/* ################################################################ */
/* advanced search settings ======================================================== */
.advancedSearchContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em 0 0 0;
}

.searchField {
  flex: 0 0 32%;
  max-width: 32%;
  margin-bottom: 1em;
  position: relative;
  width: 15em;
}

.dropdownHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15em;
  height: 3.5em;
  border-radius: 1em;
  background: var(--white);
  font-size: 1em;
  padding: 1.5em 1em;
  cursor: pointer;
}

.dropdownHeaderOpened {
  z-index: 2000;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 15em;
  padding: 1.5em 2em 1em 1em;
  border-radius: 1em;
  background: var(--white);
  font-size: 1em;
  cursor: pointer;
  display: none;
  /* visibility: hidden; */
  display: block;
}

.rowAdvancedSearch {
  margin-left: 0.01em;
}

.selectedTag {
  display: inline-block;
  background: var(--yellow);
  color: var(--black);
  padding: 0.25em 0.5em;
  margin: 0.25em;
  border-radius: 0.5em;
  cursor: pointer;
}

.closeButton {
  cursor: pointer;
  margin-left: 6px;
  color: #aaa;
}

.ingredientSearchInput, .appliancesSearchInput, .ustensilsSearchInput {
  padding-left: 1em;
  width: 14em;
}

.dropdownHeaderOpenedInput {
  position: relative;
  margin-top: 0.5em;
  width:15em;
}

.dropdownHeaderOpenedInput input {
  padding-right: 0.8em;
}

.iconLoopDropdown {
  position: absolute;
  right: 0.05em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  width: 1.5em;
  height: 1.5em;
  color: var(--gray);
}

.listedRecipesCount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#resultCount {
  font-family: var(--font-Anton);
  color: var(--black);
  font-size: 1.2em;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 1em 0;
}

ul.dropdownContent {
  display: flex;
  width: 15em;
}

.dropdownHeaderOpenedInput{
  display: flex;
}

.fa-magnifying-glass:before{
  display: flex;
  margin-left: -5em;
}
.dropdownContent {
  display: flex;
  flex-direction: column;
  max-height: 10em;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 0.5em;
  width: 15em;
}

.dropdownContent li {
  padding: 0.5em 1em;
  cursor: pointer;
  background: var(--white);
  margin-left: -1em;
  width: 15em; 
  padding-left: 1em;
}

.dropdownContent li:last-child {
  border-bottom: none;
}
/* ################################################################ */
/* Responsive ======================================================== */
@media screen and (max-width: 960px) {
  .sloganHeading {
    top: 35%;
    margin-top: -2em;
    font-size: 1.6em;
  }
  .searchBar {
    width: 50em;
    height: 3em;
    font-size: 0.8em;
    margin-top: -19em;
  }

  .iconLoop {
    right: 0.26em;
    margin-top: -7.55em;
    width: 2em;
    height: 2em;
  }

  .iconMagnifyingGlass {
    font-size: 1.3em;
  }

  .recipe-card h2 {
    font-size: 1em;
  }

  .recipe-card h3 {
    font-size: 0.8em;
  }

  p.recipe-description {
    font-size: 0.9em;
  }

  ul li {
    font-size: 0.86em;
  }

  .recipe-card-content p.recipe-time {
    padding: 0.4em 0.7em;
    border-radius: 0.7em;
    font-size: 0.9em;
  }

  .recipe-card {
    height: 42em;
  }

  .recipe-card-image {
    height: calc(42em / 3);
  }
}

@media screen and (max-width: 680px) {
  .sloganHeading {
    top: 30%;
    font-size: 1.2em;
  }
  .searchBar {
    width: 50em;
    height: 3em;
    font-size: 0.8em;
    margin-top: -20em;
  }

  .iconLoop {
    right: 0.2em;
    margin-top: -8em;
    width: 1.8em;
    height: 1.8em;
  }

  .iconMagnifyingGlass {
    font-size: 1em;
  }

  .recipe-card h2 {
    font-size: 0.85em;
  }

  .recipe-card h3 {
    font-size: 0.65em;
  }

  p.recipe-description {
    font-size: 0.8em;
  }

  ul li {
    font-size: 0.65em;
  }

  .recipe-card-content p.recipe-time {
    padding: 0.3em 0.6em;
    border-radius: 0.7em;
    font-size: 0.8em;
  }
}
